---
services:
  wedding-share:
    container_name: WeddingShare
    image: cirx08/wedding_share:1.8.2
    ports:
      - '34417:5000/tcp'
    environment:
      TITLE: 'WeddingShare'
      ACCOUNT_OWNER_USERNAME: 'admin'
      ACCOUNT_OWNER_PASSWORD: ${ACCOUNT_OWNER_PASSWORD}
      DATABASE_TYPE: 'sqlite'
      ENCRYPTION_KEY: ${ENCRYPTION_KEY}
      ENCRYPTION_SALT: ${ENCRYPTION_SALT}
      NTFY_ENABLED: true
      NTFY_ENDPOINT: https://ntfy.${DOMAIN}
      NTFY_TOPIC: ${NTFY_TOPIC}
      NTFY_PRIORITY: 5
    volumes:
      - /data/config_storage/wedding-share/config:/app/config
      - /data/config_storage/wedding-share/thumbnails:/app/wwwroot/thumbnails
      - /data/config_storage/wedding-share/uploads:/app/wwwroot/uploads
      - /data/config_storage/wedding-share/custom-resources:/app/wwwroot/custom_resources
    restart: unless-stopped
    hostname: mcc.${DOMAIN}
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mcc.entrypoints=http"
      - "traefik.http.routers.mcc.rule=Host(`mcc.${DOMAIN}`)"
      - "traefik.http.middlewares.mcc-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.mcc.middlewares=mcc-https-redirect"
      - "traefik.http.routers.mcc-secure.entrypoints=https"
      - "traefik.http.routers.mcc-secure.rule=Host(`mcc.${DOMAIN}`)"
      - "traefik.http.routers.mcc-secure.tls=true"
      - "traefik.http.routers.mcc-secure.service=mcc"
      - "traefik.http.services.mcc.loadbalancer.server.port=5000"  # port of the service.
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=WeddingShare"
      - "homepage.icon=/images/weddingshare.png"
      - "homepage.href=https://mcc.${DOMAIN}/"
      - traefik.http.routers.target.middlewares=anubis@docker

networks:
  intranet:
    external: true
