---
services:
  mullvad-browser:
    image: quay.io/linuxserver.io/mullvad-browser:15.0.20251116
    container_name: mullvad-browser
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - RESTART_APP=true
      - HARDEN_DESKTOP=true
      - HARDEN_OPENBOX=true
    volumes:
      - /data/config_storage/mullvad-browser/:/config
#    ports:
#      - 3000:3000
    shm_size: "1gb"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true  # helps to increase security
    network_mode: container:gluetun
    labels:
      - "homepage.group=Other"
      - "homepage.name=mullvad"
      - "homepage.icon=/images/mullvad.png"
      - "homepage.href=https://mullvad.${DOMAIN}/"

networks:
  intranet:
    external: true
