RENOVATE_TOKEN=token
RENOVATE_GIT_AUTHOR_EMAIL="email@domain.tld"
RENOVATE_GITHUB_COM_TOKEN=github_pat
RENOVATE_GIT_PRIVATE_KEY="-----BEGIN OPENSSH PRIVATE KEY-----
key content here
key content here
key content here
key content here
-----END OPENSSH PRIVATE KEY-----"