---
services:
  renovate:
    stdin_open: true
    tty: true
    environment:
      - LOG_LEVEL=debug
      - RENOVATE_TOKEN=${RENOVATE_TOKEN}
      - RENOVATE_GITHUB_COM_TOKEN=${RENOVATE_GITHUB_COM_TOKEN}  # optional, for release notes # make minimum permission PAT
      - RENOVATE_PLATFORM=gitea
      - RENOVATE_ENDPOINT=https://git.${DOMAIN}
      - RENOVATE_GIT_PRIVATE_KEY=${RENOVATE_GIT_PRIVATE_KEY}
      - RENOVATE_AUTODISCOVER=true
      - RENOVATE_GIT_AUTHOR=Renovate Bot <${RENOVATE_GIT_AUTHOR_EMAIL}>
      - timezone=America/New_York
      - schedule="* 8-18 * * 1-5"  # not for auto-running. use cron for that
      - RENOVATE_PR_HOURLY_LIMIT=100
    image: renovate/renovate:42.16.1
    container_name: renovate
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.renovate.entrypoints=http"
      - "traefik.http.routers.renovate.rule=Host(`renovate.${DOMAIN}`)"
      - "traefik.http.middlewares.renovate-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.renovate.middlewares=renovate-https-redirect"
      - "traefik.http.routers.renovate-secure.entrypoints=https"
      - "traefik.http.routers.renovate-secure.rule=Host(`renovate.${DOMAIN}`)"
      - "traefik.http.routers.renovate-secure.tls=true"
      - "traefik.http.routers.renovate-secure.service=renovate"
      - "traefik.http.services.renovate.loadbalancer.server.port=80"  # port of the service
      - "traefik.docker.network=intranet"

networks:
  intranet:
    external: true
