---
services:
  silverbullet:
    container_name: silverbullet
    volumes:
      - /data/config_storage/silverbullet:/space
    image: ghcr.io/silverbulletmd/silverbullet:2.4.1
    environment:
      - SB_USER=shady:${password}
      - TZ=America/New_York
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.notes.entrypoints=http"
      - "traefik.http.routers.notes.rule=Host(`notes.${DOMAIN}`)"
      - "traefik.http.middlewares.notes-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.notes.middlewares=notes-https-redirect"
      - "traefik.http.routers.notes-secure.entrypoints=https"
      - "traefik.http.routers.notes-secure.rule=Host(`notes.${DOMAIN}`)"
      - "traefik.http.routers.notes-secure.tls=true"
      - "traefik.http.routers.notes-secure.service=notes"
      - "traefik.http.services.notes.loadbalancer.server.port=3000"  # port of the service.
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=silverbullet"
      - "homepage.icon=/images/silverbullet.png"
      - "homepage.href=https://notes.${DOMAIN}/"

networks:
  intranet:
    external: true
