[[alerter]]
name = "ntfy"
tags = ["ntfy", "alert", "alerter"]
[alerter.config]
enabled = true
endpoint.type = "Ntfy"
endpoint.params.url = "https://ntfy.holmlab.org/komodoQLKho7Ad7yV8w9tfmvA9Nl8?p=low"
alert_types = [
  "RepoBuildFailed",
  "BuildFailed",
  "AwsBuilderTerminationFailed",
  "ServerVersionMismatch",
  "ScheduleRun",
  "ResourceSyncPendingUpdates",
  "ActionFailed",
  "ProcedureFailed",
  "AwsBuilderTerminationFailed"
]
except_resources = [
  { type = "Stack", id = "685194364df5648a01135113" }
]