[[procedure]]
name = "webhooks"
description = "The one webhook to rule them all"
config.failure_alert = false

[[procedure.config.stage]]
name = "Pull"
enabled = true
executions = [
  { execution.type = "PullRepo", execution.params.repo = "compose_main", enabled = true }
]

[[procedure.config.stage]]
name = "Sync"
enabled = true
executions = [
  { execution.type = "RunProcedure", execution.params.procedure = "run_syncs", enabled = true }
]

[[procedure.config.stage]]
name = "Deploy"
enabled = true
executions = [
  { execution.type = "RunProcedure", execution.params.procedure = "deployOnChange_main", enabled = true }
]

##

[[procedure]]
name = "schedule_renovate"
config.webhook_enabled = false
config.schedule_format = "Cron"
config.schedule = "0 0 */6 * * *"
config.schedule_timezone = "America/New_York"
config.schedule_alert = false

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "DeployStack", execution.params.stack = "renovate", execution.params.services = [], enabled = true }
]

[[procedure.config.stage]]
name = "pause"
enabled = true
executions = [
  { execution.type = "Sleep", execution.params.duration_ms = 900000, enabled = true }
]

[[procedure.config.stage]]
name = "docker down"
enabled = true
executions = [
  { execution.type = "DestroyStack", execution.params.stack = "renovate", execution.params.services = [], execution.params.remove_orphans = false, enabled = true }
]

##

[[procedure]]
name = "restart_proxy"
config.webhook_enabled = false
config.schedule_format = "Cron"
config.schedule = "0 1 */1 * * *"
config.schedule_timezone = "America/New_York"
config.schedule_alert = false

[[procedure.config.stage]]
name = "Stage 1"
enabled = false
executions = [
  { execution.type = "StopStack", execution.params.stack = "gluetun-holmie", execution.params.services = [], enabled = true }
]

[[procedure.config.stage]]
name = "Stage 2"
enabled = false
executions = [
  { execution.type = "Sleep", execution.params.duration_ms = 500, enabled = true },
  { execution.type = "StartStack", execution.params.stack = "gluetun-holmie", execution.params.services = [], enabled = true }
]

##

[[procedure]]
name = "skywatch"
config.webhook_enabled = false
config.schedule_format = "Cron"
config.schedule = "0 * * * * *"
config.schedule_timezone = "America/New_York"
config.schedule_alert = false

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "DeployStack", execution.params.stack = "skywatch", execution.params.services = [], enabled = true }
]

[[procedure.config.stage]]
name = "docker down"
enabled = true
executions = [
  { execution.type = "DestroyStack", execution.params.stack = "skywatch", execution.params.services = [], execution.params.remove_orphans = false, enabled = true }
]

##

[[procedure]]
name = "deployOnChange_main"

[[procedure.config.stage]]
name = "pull and deploy if changed"
enabled = true
executions = [
  { execution.type = "BatchPullStack", execution.params.pattern = "^(?!skywatch$).*", enabled = true },
  { execution.type = "BatchDeployStackIfChanged", execution.params.pattern = "*", enabled = true }
]

##

[[procedure]]
name = "run_syncs"

[[procedure.config.stage]]
name = "sleep"
enabled = true
executions = [
  { execution.type = "RunSync", execution.params.sync = "syncs", enabled = true },
  { execution.type = "RunSync", execution.params.sync = "procedure", enabled = true },
  { execution.type = "RunSync", execution.params.sync = "alert", enabled = true },
  { execution.type = "RunSync", execution.params.sync = "builders", enabled = true },
  { execution.type = "RunSync", execution.params.sync = "builds", enabled = true },
  { execution.type = "RunSync", execution.params.sync = "holmgarage", enabled = true },
  { execution.type = "RunSync", execution.params.sync = "holmie", enabled = true },
  { execution.type = "RunSync", execution.params.sync = "repo", enabled = true },
  { execution.type = "RunSync", execution.params.sync = "servers", enabled = true },
  { execution.type = "RunSync", execution.params.sync = "shady_desktop", enabled = true },
  { execution.type = "RunSync", execution.params.sync = "mck", enabled = true },
  { execution.type = "RunSync", execution.params.sync = "snow", enabled = true },
  { execution.type = "RunSync", execution.params.sync = "turret", enabled = true }
]

##

[[procedure]]
name = "restart_gluetun'd - holmie"
description = "Restart containers connected to holmie's gluetun instance"
config.webhook_enabled = false
config.schedule_alert = false

[[procedure.config.stage]]
name = "stop gluetun"
enabled = true
executions = [
  { execution.type = "DestroyStack", execution.params.stack = "gluetun-holmie", execution.params.services = [], execution.params.remove_orphans = false, enabled = true }
]

[[procedure.config.stage]]
name = "start gluetun"
enabled = true
executions = [
  { execution.type = "DeployStack", execution.params.stack = "gluetun-holmie", execution.params.services = [], execution.params.remove_orphans = false, enabled = true }
]

[[procedure.config.stage]]
name = "pause"
enabled = false
executions = [
  { execution.type = "Sleep", execution.params.duration_ms = 500, enabled = true }
]

[[procedure.config.stage]]
name = "stop"
enabled = true
executions = [
  { execution.type = "DestroyStack", execution.params.stack = "qbittorrent-holmie", execution.params.services = [], execution.params.remove_orphans = false, enabled = true },
  { execution.type = "DestroyStack", execution.params.stack = "jackett-holmie", execution.params.services = [], execution.params.remove_orphans = false, enabled = true },
  { execution.type = "DestroyStack", execution.params.stack = "searxng-holmie", execution.params.services = [], execution.params.remove_orphans = false, enabled = true },
  { execution.type = "DestroyStack", execution.params.stack = "freshrss-holmie", execution.params.services = [], execution.params.remove_orphans = false, enabled = true },
  { execution.type = "DestroyStack", execution.params.stack = "tidal-ui-holmie", execution.params.services = [], execution.params.remove_orphans = false, enabled = true }
]

[[procedure.config.stage]]
name = "start"
enabled = true
executions = [
  { execution.type = "DeployStack", execution.params.stack = "qbittorrent-holmie", execution.params.services = [], enabled = true },
  { execution.type = "DeployStack", execution.params.stack = "jackett-holmie", execution.params.services = [], enabled = true },
  { execution.type = "DeployStack", execution.params.stack = "searxng-holmie", execution.params.services = [], enabled = true },
  { execution.type = "DeployStack", execution.params.stack = "freshrss-holmie", execution.params.services = [], enabled = true },
  { execution.type = "DeployStack", execution.params.stack = "tidal-ui-holmie", execution.params.services = [], enabled = true }
]

##

[[procedure]]
name = "restart_gluetun'd - holmgarage"
description = "Restart containers connected to holmgarage's gluetun instance"
config.webhook_enabled = false
config.schedule_alert = false

[[procedure.config.stage]]
name = "stop gluetun"
enabled = true
executions = [
  { execution.type = "DestroyStack", execution.params.stack = "gluetun-holmgarage", execution.params.services = [], execution.params.remove_orphans = false, enabled = true }
]

[[procedure.config.stage]]
name = "start gluetun"
enabled = true
executions = [
  { execution.type = "DeployStack", execution.params.stack = "gluetun-holmgarage", execution.params.services = [], execution.params.remove_orphans = false, enabled = true }
]

[[procedure.config.stage]]
name = "pause"
enabled = false
executions = [
  { execution.type = "Sleep", execution.params.duration_ms = 500, enabled = true }
]

[[procedure.config.stage]]
name = "stop else"
enabled = true
executions = [
  { execution.type = "DestroyStack", execution.params.stack = "qbittorrent-holmgarage", execution.params.services = [], execution.params.remove_orphans = false, enabled = true },
  { execution.type = "DestroyStack", execution.params.stack = "jackett-holmgarage", execution.params.services = [], execution.params.remove_orphans = false, enabled = true },
  { execution.type = "DestroyStack", execution.params.stack = "searxng-holmgarage", execution.params.services = [], execution.params.remove_orphans = false, enabled = true }
]

[[procedure.config.stage]]
name = "start else"
enabled = true
executions = [
  { execution.type = "DeployStack", execution.params.stack = "qbittorrent-holmgarage", execution.params.services = [], enabled = true },
  { execution.type = "DeployStack", execution.params.stack = "jackett-holmgarage", execution.params.services = [], enabled = true },
  { execution.type = "DeployStack", execution.params.stack = "searxng-holmgarage", execution.params.services = [], enabled = true }
]