---
services:
  mongo:
    image: mongo:8.2.5  # use latest avalible
    labels:
      komodo.skip:  # Prevent Komodo from stopping with StopAllContainers
    command: --quiet --wiredTigerCacheSizeGB 0.25
    restart: unless-stopped
    logging:
      driver: local
    volumes:
      - /data/config_storage/komodo/mongo-data:/data/db
      - /data/config_storage/komodo/mongo-config:/data/configdb
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: ${KOMODO_DB_PASSWORD}
    networks:
      - intranet

  core:
    image: ghcr.io/moghtech/komodo-core:1.19.5
    restart: unless-stopped
    depends_on:
      - mongo
    logging:
      driver: local
    ports:
      - 9120:9120
    environment:  # https://github.com/moghtech/komodo/blob/main/config/core.config.toml
      KOMODO_DATABASE_ADDRESS: mongo:27017
      KOMODO_DATABASE_USERNAME: admin
      KOMODO_DATABASE_PASSWORD: ${KOMODO_DB_PASSWORD}
      KOMODO_HOST: https://komodo.holmlab.org
      KOMODO_LOCAL_AUTH: true
      KOMODO_DISABLE_USER_REGISTRATION: false  # default true
      KOMODO_ENABLE_NEW_USERS: false  # default false
      KOMODO_WEBHOOK_SECRET: ${KOMODO_WEBHOOK_SECRET}
      PERIPHERY_SSL_ENABLED: false
      KOMODO_DISABLE_CONFIRM_DIALOG: true
      KOMODO_PASSKEY: ${KOMODO_PASSKEY}
      PERIPHERY_PASSKEYS: ${PERIPHERY_PASSKEYS}
    volumes:
      - /data/config_storage/komodo_database_backups:/backups
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "komodo.skip"
      - "traefik.enable=true"
      - "traefik.http.routers.komodo.entrypoints=http"
      - "traefik.http.routers.komodo.rule=Host(`komodo.holmlab.org`)"
      - "traefik.http.middlewares.komodo-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.komodo.middlewares=komodo-https-redirect"
      - "traefik.http.routers.komodo-secure.entrypoints=https"
      - "traefik.http.routers.komodo-secure.rule=Host(`komodo.holmlab.org`)"
      - "traefik.http.routers.komodo-secure.tls=true"
      - "traefik.http.routers.komodo-secure.service=komodo"
      - "traefik.http.services.komodo.loadbalancer.server.port=9120"  # port of the service
      - "traefik.docker.network=intranet"
      - "homepage.group=Infrastructure"
      - "homepage.name=Komodo"
      - "homepage.icon=/images/komodo.png"
      - "homepage.href=https://komodo.${DOMAIN}/"

  periphery:
    image: ghcr.io/moghtech/komodo-periphery:1.19.5
    restart: unless-stopped
    logging:
      driver: local
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /proc:/proc
      - /data/config_storage/komodo/etc_komodo:/etc/komodo
    environment:
      PERIPHERY_SSL_ENABLED: false
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "komodo.skip"
      - "traefik.enable=true"
      - "traefik.http.routers.periphery.entrypoints=http"
      - "traefik.http.routers.periphery.rule=Host(`periphery.holmlab.org`)"
      - "traefik.http.middlewares.periphery-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.periphery.middlewares=periphery-https-redirect"
      - "traefik.http.routers.periphery-secure.entrypoints=https"
      - "traefik.http.routers.periphery-secure.rule=Host(`periphery.holmlab.org`)"
      - "traefik.http.routers.periphery-secure.tls=true"
      - "traefik.http.routers.periphery-secure.service=periphery"
      - "traefik.http.services.periphery.loadbalancer.server.port=8120"  # port of the service
      - "traefik.docker.network=intranet"

volumes:
  mongo-data:
  mongo-config:
  repo-cache:
networks:
  intranet:
    external: true
