---
services:
  filebrowser:
    volumes:
      - /data:/srv/data
      - /data/config_storage/filebrowserquantum/config.yaml:/home/filebrowser/config.yaml
      - /data/config_storage/filebrowserquantum/database.db:/home/filebrowser/database.db
    ports:
      - 8080:80
    image: gtstef/filebrowser:1.2.0-beta
    environment:
      - FILEBROWSER_ADMIN_PASSWORD=${FILEBROWSER_ADMIN_PASSWORD}
      - FILEBROWSER_DATABASE=/home/filebrowser/database.db
      - FILEBROWSER_CONFIG=/home/filebrowser/config.yaml
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.files.entrypoints=http"
      - "traefik.http.routers.files.rule=Host(`files.${DOMAIN}`)"
      - "traefik.http.middlewares.files-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.files.middlewares=files-https-redirect"
      - "traefik.http.routers.files-secure.entrypoints=https"
      - "traefik.http.routers.files-secure.rule=Host(`files.${DOMAIN}`)"
      - "traefik.http.routers.files-secure.tls=true"
      - "traefik.http.routers.files-secure.service=files"
      - "traefik.http.services.files.loadbalancer.server.port=8080"  # port of the service.
      - "traefik.docker.network=intranet"
      - "homepage.group=Media"
      - "homepage.name=files"
      - "homepage.icon=/images/files.png"
      - "homepage.href=https://files.${DOMAIN}/"

networks:
  intranet:
    external: true
