---
services:
  audiobookshelf:
    container_name: audiobookshelf
    volumes:
      - /data/audiobooks:/audiobooks:ro
      - /data/podcasts:/podcasts:ro
      - /data/config_storage/audiobookshelf/config:/config
      - /data/config_storage/audiobookshelf/metadata:/metadata
    environment:
      - TZ=America/New_York
    restart: unless-stopped
    image: ghcr.io/advplyr/audiobookshelf:2.32.0
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.audiobookshelf.entrypoints=http"
      - "traefik.http.routers.audiobookshelf.rule=Host(`audiobookshelf.${DOMAIN}`)"
      - "traefik.http.middlewares.audiobookshelf-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.audiobookshelf.middlewares=audiobookshelf-https-redirect"
      - "traefik.http.routers.audiobookshelf-secure.entrypoints=https"
      - "traefik.http.routers.audiobookshelf-secure.rule=Host(`audiobookshelf.${DOMAIN}`)"
      - "traefik.http.routers.audiobookshelf-secure.tls=true"
      - "traefik.http.routers.audiobookshelf-secure.service=audiobookshelf"
      - "traefik.http.services.audiobookshelf.loadbalancer.server.port=80"  # port of the service
      - "traefik.docker.network=intranet"
      - "homepage.group=Media"
      - "homepage.name=audiobookshelf"
      - "homepage.icon=/images/audiobookshelf.png"
      - "homepage.href=https://audiobookshelf.${DOMAIN}/"

networks:
  intranet:
    external: true
