---
services:
  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:v2.4.1
    volumes:
      - /data/dont_backup/immich_machine_learning:/cache
    restart: unless-stopped
    ports:
      - 3003:3003
