TOKEN=
AUTH_SECRET=
TZ="America/New_York"
APP_URL="http://192.168.50.65:3000/"
PRINTER_APP_URL="http://host.docker.internal:3000"
PRINTER_ENDPOINT="ws://printer:3000"
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/postgres"