services:
  postgres:
    image: postgres:15.15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - /data/config_storage/reactiveresume/postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 10
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet

  printer:
    image: ghcr.io/browserless/chromium:v2.39.0
    container_name: printer
    restart: unless-stopped
    ports:
      - "4000:3000"
    environment:
      - HEALTH=true
      - CONCURRENT=20
      - QUEUED=10
      - TOKEN=${TOKEN}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/pressure?token=${TOKEN}"]
      interval: 10s
      timeout: 5s
      retries: 10
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet

  reactive-resume:
    image: amruthpillai/reactive-resume:v5.0.7
    container_name: reactive-resume
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
     - TZ="Etc/UTC"
     - APP_URL="https://resume.${DOMAIN}"
     - PRINTER_APP_URL="http://host.docker.internal:4000"
     - PRINTER_ENDPOINT="ws://printer:4000"
     - DATABASE_URL="postgresql://postgres:postgres@postgres:5432/postgres"
    volumes:
      - /data/config_storage/reactiveresume/data:/app/data
    depends_on:
      postgres:
        condition: service_healthy
      printer:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/health"]
      interval: 30s
      timeout: 10s
      retries: 3
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.resume.entrypoints=http"
      - "traefik.http.routers.resume.rule=Host(`resume.${DOMAIN}`)"
      - "traefik.http.middlewares.resume-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.resume.middlewares=resume-https-redirect"
      - "traefik.http.routers.resume-secure.entrypoints=https"
      - "traefik.http.routers.resume-secure.rule=Host(`resume.${DOMAIN}`)"
      - "traefik.http.routers.resume-secure.tls=true"
      - "traefik.http.routers.resume-secure.service=resume"
      - "traefik.http.services.resume.loadbalancer.server.port=3000"  # port of the service.
      - "traefik.docker.network=intranet"

networks:
  intranet:
    external: true
