---
services:
  plex:
    image: quay.io/linuxserver.io/plex:1.43.0
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - VERSION=docker
      - PLEX_CLAIM=${PLEX_CLAIM}
    volumes:
      - /data/config_storage/plex/config:/config
      - /data/mnt/shows:/shows:ro
      - /data/mnt/movies:/movies:ro
    security_opt:
      - no-new-privileges:true  # helps to increase security
    restart: unless-stopped
