---
services:
  stirling-pdf:
    image: stirlingtools/stirling-pdf:2.3.1
    container_name: stirlingpdf
    environment:
      - DOCKER_ENABLE_SECURITY=false
      - INSTALL_BOOK_AND_ADVANCED_HTML_OPS=false
      - LANGS=en_GB
      - SHOW_SURVEY=false
      - SYSTEM_ENABLEANALYTICS=false
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pdf.entrypoints=http"
      - "traefik.http.routers.pdf.rule=Host(`pdf.${DOMAIN}`)"
      - "traefik.http.middlewares.pdf-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.pdf.middlewares=pdf-https-redirect"
      - "traefik.http.routers.pdf-secure.entrypoints=https"
      - "traefik.http.routers.pdf-secure.rule=Host(`pdf.${DOMAIN}`)"
      - "traefik.http.routers.pdf-secure.tls=true"
      - "traefik.http.routers.pdf-secure.service=pdf"
      - "traefik.http.services.pdf.loadbalancer.server.port=8080"  # port of the service
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=PDF"
      - "homepage.icon=/images/pdf.png"
      - "homepage.href=https://pdf.${DOMAIN}/"

networks:
  intranet:
    external: true
