---
services:
  stirling-pdf:
    image: stirlingtools/stirling-pdf:2.4.4
    container_name: stirlingpdf
    environment:
      - DOCKER_ENABLE_SECURITY=false
      - INSTALL_BOOK_AND_ADVANCED_HTML_OPS=false
      - LANGS=en_GB
      - SHOW_SURVEY=false
      - SYSTEM_ENABLEANALYTICS=false
    volumes:
      - /data/config_storage/stirling-pdf:/configs
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.stirlingpdf.entrypoints=http"
      - "traefik.http.routers.stirlingpdf.rule=Host(`stirlingpdf.${DOMAIN}`)"
      - "traefik.http.middlewares.stirlingpdf-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.stirlingpdf.middlewares=stirlingpdf-https-redirect"
      - "traefik.http.routers.stirlingpdf-secure.entrypoints=https"
      - "traefik.http.routers.stirlingpdf-secure.rule=Host(`stirlingpdf.${DOMAIN}`)"
      - "traefik.http.routers.stirlingpdf-secure.tls=true"
      - "traefik.http.routers.stirlingpdf-secure.service=stirlingpdf"
      - "traefik.http.services.stirlingpdf.loadbalancer.server.port=8080"  # port of the service
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=stirlingpdf"
      - "homepage.icon=/images/stirlingpdf.png"
      - "homepage.href=https://stirlingpdf.${DOMAIN}/"

networks:
  intranet:
    external: true
