---
services:
  filebrowser:
    container_name: filebrowser
    restart: unless-stopped
    volumes:
      - /data:/srv/data
      - /data/config_storage/filebrowser/database:/database
      - /data/config_storage/filebrowser/config:/config
    ports:
      - 8060:80
    image: filebrowser/filebrowser:v2.51.0
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.files.entrypoints=http"
      - "traefik.http.routers.files.rule=Host(`files.${DOMAIN}`)"
      - "traefik.http.middlewares.files-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.files.middlewares=files-https-redirect"
      - "traefik.http.routers.files-secure.entrypoints=https"
      - "traefik.http.routers.files-secure.rule=Host(`files.${DOMAIN}`)"
      - "traefik.http.routers.files-secure.tls=true"
      - "traefik.http.routers.files-secure.service=files"
      - "traefik.http.services.files.loadbalancer.server.port=80"  # port of the service
      - "traefik.docker.network=intranet"
      - "homepage.group=Media"
      - "homepage.name=files"
      - "homepage.icon=/images/files.png"
      - "homepage.href=https://files.${DOMAIN}/"

networks:
  intranet:
    external: true
