---
services:
  processone:
    command: live
    image: ghcr.io/processone/ejabberd
    ports:
      - 5222:5222
    volumes:
      - /data/config_storage/ejabberd/database:/opt/ejabberd/database
      - /data/config_storage/ejabberd/conf/ejabberd.yml:/opt/ejabberd/conf/ejabberd.yml
    tty: true
    stdin_open: true
    container_name: ejabberd
