---
services:
  processone:
    command: live
    image: ghcr.io/processone/ejabberd:26.01
    environment:
      - REGISTER_ADMIN_PASSWORD=${REGISTER_ADMIN_PASSWORD}
    ports:
      - '5222:5222'
    volumes:
      - /data/config_storage/ejabberd/database:/opt/ejabberd/database
      - /data/config_storage/ejabberd/ejabberd.yml:/opt/ejabberd/conf/ejabberd.yml
    tty: true
    stdin_open: true
    container_name: ejabberd
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.xmpp.entrypoints=http"
      - "traefik.http.routers.xmpp.rule=Host(`xmpp.${DOMAIN}`)"
      - "traefik.http.middlewares.xmpp-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.xmpp.middlewares=xmpp-https-redirect"
      - "traefik.http.routers.xmpp-secure.entrypoints=https"
      - "traefik.http.routers.xmpp-secure.rule=Host(`xmpp.${DOMAIN}`)"
      - "traefik.http.routers.xmpp-secure.tls=true"
      - "traefik.http.routers.xmpp-secure.service=xmpp"
      - "traefik.http.services.xmpp.loadbalancer.server.port=5222"  # port of the service.
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=xmpp"
      - "homepage.icon=/images/ejabberd.png"
      - "homepage.href=https://xmpp.${DOMAIN}/"

networks:
  intranet:
    external: true
