---
services:
  server:
    container_name: vaultwarden
    volumes:
      - /data/config_storage/vaultwarden:/data
    restart: unless-stopped
    environment:
      - LOG_FILE=/data/vaultwarden.log
      - LOG_LEVEL=info
    image: vaultwarden/server:1.35.2
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bitwarden.entrypoints=http"
      - "traefik.http.routers.bitwarden.rule=Host(`bitwarden.${DOMAIN}`)"
      - "traefik.http.middlewares.bitwarden-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.bitwarden.middlewares=bitwarden-https-redirect"
      - "traefik.http.routers.bitwarden-secure.entrypoints=https"
      - "traefik.http.routers.bitwarden-secure.rule=Host(`bitwarden.${DOMAIN}`)"
      - "traefik.http.routers.bitwarden-secure.tls=true"
      - "traefik.http.routers.bitwarden-secure.service=bitwarden"
      - "traefik.http.services.bitwarden.loadbalancer.server.port=80"  # port of the service
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=vaultwarden"
      - "homepage.icon=/images/vaultwarden.png"
      - "homepage.href=https://bitwarden.${DOMAIN}/"

networks:
  intranet:
    external: true
