services:
  eclipse-mosquitto:
    image: eclipse-mosquitto
    volumes:
      - /data/config_storage/mqtt/config:/mosquitto/config
      - /data/config_storage/mqtt/data:/mosquitto/data
      - /data/config_storage/mqtt/log:/mosquitto/log
    ports:
        - '1883:1883'
