# Use systemd socket activation:
listen_addresses = []

# https://dnscrypt.info/public-servers/
server_names = ['mullvad-family-doh','mullvad-extend-doh','adguard-dns-doh']

[static]
        [static.'mullvad-family-doh']
        stamp = 'sdns://AgMAAAAAAAAACzE5NC4yNDIuMi42ABZmYW1pbHkuZG5zLm11bGx2YWQubmV0Ci9kbnMtcXVlcnk'
        [static.'mullvad-extend-doh']
        stamp = 'sdns://AgMAAAAAAAAACzE5NC4yNDIuMi41ABhleHRlbmRlZC5kbnMubXVsbHZhZC5uZXQKL2Rucy1xdWVyeQ'
        [static.'adguard-dns-doh']
        stamp = 'sdns://AgMAAAAAAAAADDk0LjE0MC4xNS4xNSCaOjT3J965vKUQA9nOnDn48n3ZxSQpAcK6saROY1oCGQw5NC4xNDAuMTUuMTUKL2Rucy1xdWVyeQ'