# Use systemd socket activation:
listen_addresses = []

# https://dnscrypt.info/public-servers/
server_names = ['mullvad-family-doh','mullvad-extend-doh']

[static]
        [static.'mullvad-family-doh']
        stamp = 'sdns://AgMAAAAAAAAACzE5NC4yNDIuMi42ABZmYW1pbHkuZG5zLm11bGx2YWQubmV0Ci9kbnMtcXVlcnk'
        [static.'mullvad-extend-doh']
        stamp = 'sdns://AgMAAAAAAAAACzE5NC4yNDIuMi41ABhleHRlbmRlZC5kbnMubXVsbHZhZC5uZXQKL2Rucy1xdWVyeQ'