# https://github.com/DNSCrypt/dnscrypt-proxy/blob/master/dnscrypt-proxy/example-dnscrypt-proxy.toml
# https://download.dnscrypt.info/dnscrypt-resolvers/v3/public-resolvers.md

server_names = ['mullvad-family-doh']

listen_addresses = ['127.0.0.1:5053']
max_clients = 250
ipv4_servers = true
doh_servers = true
require_nolog = true
timeout = 5000
keepalive = 30
blocked_query_response = 'refused'

log_level = 2
log_file = '/logs/dnscrypt-proxy.log'
log_file_latest = true
log_files_max_size = 10
log_files_max_age = 7
log_files_max_backups = 1

cert_refresh_delay = 240

bootstrap_resolvers = ['9.9.9.11:53', '1.1.1.1:53']
ignore_system_dns = true
netprobe_timeout = 60
netprobe_address = '9.9.9.9:53'

block_ipv6 = false

block_undelegated = true
reject_ttl = 10

cache = true
cache_size = 4096
cache_min_ttl = 2400
cache_max_ttl = 86400
cache_neg_min_ttl = 60
cache_neg_max_ttl = 600

[query_log]
format = 'tsv'

[nx_log]
format = 'tsv'

[sources]
[sources.public-resolvers]
urls = [
  'https://raw.githubusercontent.com/DNSCrypt/dnscrypt-resolvers/master/v3/public-resolvers.md',
  'https://download.dnscrypt.info/resolvers-list/v3/public-resolvers.md',
]
cache_file = 'public-resolvers.md'
minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
refresh_delay = 73
prefix = ''
[sources.relays]
urls = [
  'https://raw.githubusercontent.com/DNSCrypt/dnscrypt-resolvers/master/v3/relays.md',
  'https://download.dnscrypt.info/resolvers-list/v3/relays.md',
]
cache_file = 'relays.md'
minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
refresh_delay = 73
prefix = ''

[monitoring_ui]
enabled = true
listen_address = "0.0.0.0:8080"
username = "admin"
password = "changeme"
enable_query_log = true
privacy_level = 0
