---
services:
  ntfy:
    volumes:
      - /data/config_storage/ntfy:/var/cache/ntfy
      - /data/config_storage/ntfy/server.yml:/etc/ntfy/server.yml
    container_name: ntfy
    environment:
      - TZ=EST
    restart: unless-stopped
    image: binwiederhier/ntfy:v2.16.0
    command: serve --cache-file /var/cache/ntfy/cache.db
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ntfy.entrypoints=http"
      - "traefik.http.routers.ntfy.rule=Host(`ntfy.${DOMAIN}`)"
      - "traefik.http.middlewares.ntfy-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.ntfy.middlewares=ntfy-https-redirect"
      - "traefik.http.routers.ntfy-secure.entrypoints=https"
      - "traefik.http.routers.ntfy-secure.rule=Host(`ntfy.${DOMAIN}`)"
      - "traefik.http.routers.ntfy-secure.tls=true"
      - "traefik.http.routers.ntfy-secure.service=ntfy"
      - "traefik.http.services.ntfy.loadbalancer.server.port=80"  # port of the service
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=ntfy"
      - "homepage.icon=/images/ntfy.png"
      - "homepage.href=https://ntfy.${DOMAIN}/"

networks:
  intranet:
    external: true
