---
services:
  pihole:
    image: pihole/pihole:2026.02.0
    container_name: pihole
    environment:
      - FTLCONF_webserver_api_password=${pihole_password}
      - TZ=America/New_York
      - FTLCONF_dns_listeningMode=all
    volumes:
      - /data/config_storage/pihole/etc-pihole:/etc/pihole
      - /data/config_storage/pihole/etc-dnsmasq.d:/etc/dnsmasq.d
    restart: unless-stopped
    cap_add:
      - SYS_NICE
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "5353:80/tcp"  # web ui
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pihole.entrypoints=http"
      - "traefik.http.routers.pihole.rule=Host(`pihole.${DOMAIN}`)"
      - "traefik.http.middlewares.pihole-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.pihole.middlewares=pihole-https-redirect"
      - "traefik.http.routers.pihole-secure.entrypoints=https"
      - "traefik.http.routers.pihole-secure.rule=Host(`pihole.${DOMAIN}`)"
      - "traefik.http.routers.pihole-secure.tls=true"
      - "traefik.http.routers.pihole-secure.service=pihole"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"  # port of the service
      - "traefik.docker.network=intranet"
      - "homepage.group=Infrastructure"
      - "homepage.name=pihole"
      - "homepage.icon=/images/pi-hole.png"
      - "homepage.href=https://pihole.${DOMAIN}/admin"

networks:
  intranet:
    external: true
