---
services:
  speedtest:
    container_name: speedtest
    image: ghcr.io/librespeed/speedtest:5.5.1
    environment:
      MODE: standalone
      TELEMETRY: "false"
      DISTANCE: "mi"
      WEBPORT: 8080
    security_opt:
      - no-new-privileges:true  # helps to increase security
    restart: unless-stopped
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.speedtest.entrypoints=http"
      - "traefik.http.routers.speedtest.rule=Host(`speedtest.${DOMAIN}`)"
      - "traefik.http.middlewares.speedtest-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.speedtest.middlewares=speedtest-https-redirect"
      - "traefik.http.routers.speedtest-secure.entrypoints=https"
      - "traefik.http.routers.speedtest-secure.rule=Host(`speedtest.${DOMAIN}`)"
      - "traefik.http.routers.speedtest-secure.tls=true"
      - "traefik.http.routers.speedtest-secure.service=speedtest"
      - "traefik.http.services.speedtest.loadbalancer.server.port=8080"  # port of the service.
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=speedtest"
      - "homepage.icon=/images/librespeed.png"
      - "homepage.href=https://speedtest.${DOMAIN}/"
      - traefik.http.routers.speedtest.middlewares=anubis@docker

networks:
  intranet:
    external: true
