---
services:
  server:
    image: codeberg.org/forgejo/forgejo:13.0.3
    container_name: forgejo
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - ALLOWED_HOST_LIST=komodo.${DOMAIN}
    restart: unless-stopped
    volumes:
      - /data/config_storage/forgejo:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 3333:3000
      - 222:22
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.forgejo.entrypoints=http"
      - "traefik.http.routers.forgejo.rule=Host(`git.${DOMAIN}`)"
      - "traefik.http.middlewares.forgejo-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.forgejo.middlewares=forgejo-https-redirect"
      - "traefik.http.routers.forgejo-secure.entrypoints=https"
      - "traefik.http.routers.forgejo-secure.rule=Host(`git.${DOMAIN}`)"
      - "traefik.http.routers.forgejo-secure.tls=true"
      - "traefik.http.routers.forgejo-secure.service=forgejo"
      - "traefik.http.services.forgejo.loadbalancer.server.port=3000"  # port of the service
      - "traefik.docker.network=intranet"
      - "homepage.group=Infrastructure"
      - "homepage.name=Forgejo"
      - "homepage.icon=/images/forgejo.png"
      - "homepage.href=https://git.holmlab.org/shady/compose"

networks:
  intranet:
    external: true
