DB_PASSWORD=password
MAIL_SMTP_HOST=password
MAIL_SMTP_USER=password
MAIL_SMTP_PASS=password
MAIL_FROM_ADDRESS=password
MAIL_FROM_NAME=password
MAIL_REPLY_TO_ADDRESS=password
MYSQL_ROOT_PASSWORD=password