---
services:
  macos:
    image: dockurr/macos:2.29
    container_name: macos
    environment:
      VERSION: "15"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
#      - 8006:8006
      - 5900:5900/tcp
      - 5900:5900/udp
    volumes:
      - /data/config_storage/macos:/storage
    restart: unless-stopped
    stop_grace_period: 2m
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.macos.entrypoints=http"
      - "traefik.http.routers.macos.rule=Host(`macos.${DOMAIN}`)"
      - "traefik.http.middlewares.macos-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.macos.middlewares=macos-https-redirect"
      - "traefik.http.routers.macos-secure.entrypoints=https"
      - "traefik.http.routers.macos-secure.rule=Host(`macos.${DOMAIN}`)"
      - "traefik.http.routers.macos-secure.tls=true"
      - "traefik.http.routers.macos-secure.service=macos"
      - "traefik.http.services.macos.loadbalancer.server.port=8006"  # port of the service.
      - "traefik.docker.network=intranet"
      - "traefik.http.routers.macos-secure.middlewares=tinyauth"
      - "homepage.group=Other"
      - "homepage.name=macos"
      - "homepage.icon=/images/macos.png"
      - "homepage.href=https://macos.${DOMAIN}/"

networks:
  intranet:
    external: true
