---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings/

providers:
  openweathermap: openweathermapapikey
  weatherapi: weatherapiapikey
background: /images/background.png
favicon: /images/favicon.ico
headerStyle: clean
disableUpdateCheck: true
showStats: false
statusStyle: "dot"
