---
services:
  romm:
    image: rommapp/romm:4.4.1
    container_name: romm
    restart: unless-stopped
    environment:
      - DB_HOST=romm-db
      - DB_NAME=romm
      - DB_USER=romm-user
      - DB_PASSWD=${DB_PASSWD}
      - ROMM_AUTH_SECRET_KEY=${DB_PASSWD}  # Generate a key with `openssl rand -hex 32`
      - LAUNCHBOX_API_ENABLED=true
      #- SCREENSCRAPER_USER= # These are the recommended metadata providers
      #- SCREENSCRAPER_PASSWORD= # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#screenscraper
      #- RETROACHIEVEMENTS_API_KEY= # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#retroachievements
      #- STEAMGRIDDB_API_KEY= # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#steamgriddb
      #- HASHEOUS_API_ENABLED=true # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#hasheous
    volumes:
      - /data/config_storage/romm/romm_resources:/romm/resources  # Resources fetched from IGDB (covers, screenshots, etc.)
      - /data/config_storage/romm/romm_redis_data:/redis-data  # Cached data for background tasks
      - /data/config_storage/romm/library:/romm/library  # Your game library. Check https://docs.romm.app/latest/Getting-Started/Folder-Structure/ for more details.
      - /data/config_storage/romm/assets:/romm/assets  # Uploaded saves, states, etc.
      - /data/config_storage/romm/config:/romm/config  # (Optional) Path where config.yml is stored
    depends_on:
      romm-db:
        condition: service_healthy
        restart: true
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.romm.entrypoints=http"
      - "traefik.http.routers.romm.rule=Host(`romm.${DOMAIN}`)"
      - "traefik.http.middlewares.romm-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.romm.middlewares=romm-https-redirect"
      - "traefik.http.routers.romm-secure.entrypoints=https"
      - "traefik.http.routers.romm-secure.rule=Host(`romm.${DOMAIN}`)"
      - "traefik.http.routers.romm-secure.tls=true"
      - "traefik.http.routers.romm-secure.service=romm"
      - "traefik.http.services.romm.loadbalancer.server.port=8080"  # port of the service.
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=romm"
      - "homepage.icon=/images/romm.png"
      - "homepage.href=https://romm.${DOMAIN}/"

  romm-db:
    image: mariadb:12.1.2  # make latest
    container_name: romm-db
    restart: unless-stopped
    environment:
      - MARIADB_ROOT_PASSWORD=${DB_PASSWD}  # Use a unique, secure password
      - MARIADB_DATABASE=romm
      - MARIADB_USER=romm-user
      - MARIADB_PASSWORD=${DB_PASSWD}
    volumes:
      - /data/config_storage/romm/mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 30s
      start_interval: 10s
      interval: 10s
      timeout: 5s
      retries: 5
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet

networks:
  intranet:
    external: true