---
name: immich
services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:v2.5.5
    volumes:
      - /data/immich/UPLOAD_LOCATION/UPLOAD_LOCATION:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
      - /data/immich/external_libraries:/mnt/4tb/immich/external_libraries
    env_file:
      - /etc/komodo/env/immich.env
    depends_on:
      - redis
      - database
    ports:
      - '2283:2283'
    restart: unless-stopped
    healthcheck:
      disable: false
    environment:
      - IMMICH_TRUSTED_PROXIES=192.168.50.65,172.27.0.0/16
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.immich.entrypoints=http"
      - "traefik.http.routers.immich.rule=Host(`immich.${DOMAIN}`)"
      - "traefik.http.middlewares.immich-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.immich.middlewares=immich-https-redirect"
      - "traefik.http.routers.immich-secure.entrypoints=https"
      - "traefik.http.routers.immich-secure.rule=Host(`immich.${DOMAIN}`)"
      - "traefik.http.routers.immich-secure.tls=true"
      - "traefik.http.routers.immich-secure.service=immich"
      - "traefik.http.services.immich.loadbalancer.server.port=2283"  # port of the service
      - "traefik.docker.network=intranet"
      - "homepage.group=Media"
      - "homepage.name=immich"
      - "homepage.icon=/images/immich.png"
      - "homepage.href=https://immich.${DOMAIN}/"

  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:v2.5.5
    volumes:
      - model-cache:/cache
    env_file:
      - /etc/komodo/env/immich.env
    restart: unless-stopped
    networks:
      - intranet
    healthcheck:
      disable: false

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:8.1.4  # check: https://github.com/immich-app/immich/releases/latest/download/docker-compose.yml
    restart: unless-stopped
    healthcheck:
      test: redis-cli ping || exit 1
    networks:
      - intranet

  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.3.0-pgvectors0.2.0
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=postgres
      - POSTGRES_DB=immich
      - POSTGRES_INITDB_ARGS='--data-checksums'
    volumes:
      - /data/config_storage/immich/postgres:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - intranet

volumes:
  model-cache:

networks:
  intranet:
    external: true
