---
services:
  beszel-agent:
    image: henrygd/beszel-agent:0.18.3
    container_name: "beszel-agent"
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # monitor other disks / partitions by mounting a folder in /extra-filesystems
      - /data/mnt/beszel:/extra-filesystems/sda1:ro
      - /data/config_storage/beszel:/extra-filesystems/config_storage:ro
      - /mnt/extra:/extra-filesystems/sdb:ro
    environment:
      LISTEN: 45876
      KEY: ${KEY}  # format: `KEY="key"`
      TOKEN: ${TOKEN}
      HUB_URL: https://beszel.holmlab.org
