---
services:
  loggifly:
    image: ghcr.io/clemcer/loggifly:v1.8.1
    container_name: loggifly
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:  # https://clemcer.github.io/loggifly/guide/environment-variables.html
      NTFY_URL: "https://ntfy.holmlab.org"  # not a variable because logs should all go back to holmlab
      NTFY_TOPIC: ${topic}
      DISABLE_START_MESSAGE: true
      MONITOR_ALL_CONTAINERS: true
      EXCLUDED_CONTAINERS: "aircraft,mautrix-discord,jellyseerr,stirlingpdf,qui,pinchflat-holmie-pinchflat-1,skywatch,chrome,homepage,renovate,freshrss,sonarr,radarr,synapse"
      # CONTAINERS: "olivetin,ntfy,factorio,vaultwarden,actual_server,anubis,wedding-share,audiobookshelf,pihole,wg-easy,forgejo,jellyfin,immich_server,nextcloud,silverbullet,tinyauth"
      GLOBAL_KEYWORDS: "[JOIN],[LEAVE],error,failed login,password,Authentication failed,Failed authentication attempt,Wrong credentials"
      EXCLUDED_KEYWORDS: "FlareSolverr is not configured,occured while fetching,Temporary failure in name resolution,INFO Settings summary,Wireguard setup is complete,searx.engines: loading engine ahmia failed: set engine to inactive!,failed to get app preferences: could not unmarshal body,restarting VPN,Something went wrong caching image,engine timeout,INF Connection closed,<minecraftProxyHandler> Error: connect ECONNREFUSED,was sent SIGINT,LOG [Api:ServerService] Feature Flags: {,searx.engines: Cannot load engine,raise SearxEngineCaptchaException,INF Failed to join session,WRN Failed to exchange Hello messages,--ignore-no-formats-error,ERROR: Not a valid UUID,purging password reset tokens,failed to prune images on server shady_desktop,INF Lost device connection,There are 0 errors and 0 warnings,BeastReduce TCP output,WRN Failed TLS handshake,DNS server returned general failure,WRN Failed to acquire open port,Unable to parse,duplicate key value violates unique constraint,websocket send error: websocket: close sent,Connection error (9.9.9.9#53):,The remote party closed the WebSocket connection,Error in TheMovieDb,automerge queue already in queue,Token has expired,Unable to download icon,Input file contains unsupported image format"
      GLOBAL_KEYWORDS_WITH_ATTACHMENT: "critical"  # Attaches a log file to the notification
      NTFY_PRIORITY: 1
    restart: unless-stopped
