---
services:
  scrutiny:
    container_name: scrutiny
    image: ghcr.io/analogj/scrutiny:v0.8.6-omnibus
    cap_add:
      - SYS_RAWIO
    ports:
#      - "8181:8080"  # webapp
      - "8085:8086"  # influxDB admin
    volumes:
      - /run/udev:/run/udev:ro
      - /data/config_storage/scrutiny/config:/opt/scrutiny/config
      - /data/config_storage/scrutiny/influxdb:/opt/scrutiny/influxdb
    devices:
      - "/dev/sda"
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.scrutiny.entrypoints=http"
      - "traefik.http.routers.scrutiny.rule=Host(`scrutiny.${DOMAIN}`)"
      - "traefik.http.middlewares.scrutiny-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.scrutiny.middlewares=scrutiny-https-redirect"
      - "traefik.http.routers.scrutiny-secure.entrypoints=https"
      - "traefik.http.routers.scrutiny-secure.rule=Host(`scrutiny.${DOMAIN}`)"
      - "traefik.http.routers.scrutiny-secure.tls=true"
      - "traefik.http.routers.scrutiny-secure.service=scrutiny"
      - "traefik.http.services.scrutiny.loadbalancer.server.port=8080"  # port of the service
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=scrutiny"
      - "homepage.icon=/images/scrutiny.png"
      - "homepage.href=https://scrutiny.${DOMAIN}/"

networks:
  intranet:
    external: true
