---
services:
  ultrafeeder:
    image: ghcr.io/sdr-enthusiasts/docker-adsb-ultrafeeder:latest-build-825  # https://github.com/sdr-enthusiasts/docker-adsb-ultrafeeder/pkgs/container/docker-adsb-ultrafeeder
    tty: true
    container_name: ultrafeeder
    hostname: ultrafeeder
    restart: unless-stopped
    read_only: true
    cap_add:
      - NET_BIND_SERVICE
    cap_drop:
      - ALL
    init: true
    device_cgroup_rules:
      - "c 189:* rwm"
    environment:
      - LOGLEVEL=error
      - TZ=America/New_York
      - READSB_DEVICE_TYPE=rtlsdr
      - READSB_GAIN=auto
      - READSB_LAT=${READSB_LAT}
      - READSB_LON=${READSB_LON}
      - READSB_ALT=${FEEDER_ALT_M}m
      - READSB_STATS_RANGE=true
      - READSB_RTLSDR_DEVICE=${ADSB_SDR_SERIAL}
      - READSB_RTLSDR_PPM=${ADSB_SDR_PPM}
      - READSB_RX_LOCATION_ACCURACY=2
      - UPDATE_TAR1090=false
      - TAR1090_DEFAULTCENTERLAT=${READSB_LAT}
      - TAR1090_DEFAULTCENTERLON=${READSB_LON}
      - TAR1090_MESSAGERATEINTITLE=true
      - TAR1090_PLANECOUNTINTITLE=true
      - TAR1090_ENABLE_AC_DB=true
      - TAR1090_FLIGHTAWARELINKS=true
      - TAR1090_SITESHOW=true
      - TAR1090_RANGE_OUTLINE_COLORED_BY_ALTITUDE=true
      - TAR1090_RANGE_OUTLINE_WIDTH=2.0
      - TAR1090_RANGERINGS=true
      - TAR1090_RANGERINGSDISTANCES=50,100,150,200
      - TAR1090_RANGERINGSCOLORS='#1A237E','#0D47A1','#42A5F5','#64B5F6'
      - TAR1090_USEROUTEAPI=true
      - GRAPHS1090_DARKMODE=true
      - GRAPHS1090_DISABLE=true
      - TAR1090_ENABLE_ACTUALRANGE=true
      - TAR1090_ACTUAL_RANGE_OUTLINE_COLOR='#00596b'
      # --------------------------------------------------
      - ULTRAFEEDER_CONFIG=
        adsb,feed.adsb.fi,30004,beast_reduce_plus_out;
        adsb,in.adsb.lol,30004,beast_reduce_plus_out;
        adsb,feed.theairtraffic.com,30004,beast_reduce_plus_out;
        mlat,feed.adsb.fi,31090,39000;
        mlat,in.adsb.lol,31090,39001;
        mlat,feed.theairtraffic.com,31090,39004
    volumes:
      - /data/config_storage/adsb/globe_history:/var/globe_history
      - /data/config_storage/adsb/graphs1090:/var/lib/collectd
      - /proc/diskstats:/proc/diskstats:ro
      - /dev/bus/usb:/dev/bus/usb
    tmpfs:
      - /run:exec,size=256M
      - /tmp:size=128M
      - /var/log:size=32M
    ports:
      - 8078:80
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adsb.entrypoints=http"
      - "traefik.http.routers.adsb.rule=Host(`adsb.${DOMAIN}`)"
      - "traefik.http.middlewares.adsb-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.adsb.middlewares=adsb-https-redirect"
      - "traefik.http.routers.adsb-secure.entrypoints=https"
      - "traefik.http.routers.adsb-secure.rule=Host(`adsb.${DOMAIN}`)"
      - "traefik.http.routers.adsb-secure.tls=true"
      - "traefik.http.routers.adsb-secure.service=adsb"
      - "traefik.http.services.adsb.loadbalancer.server.port=80"  # port of the service.
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=ADSB"
      - "homepage.icon=/images/adsb.png"
      - "homepage.href=https://adsb.${DOMAIN}/"

networks:
  intranet:
    external: true

# | service                                           | check my feeding status url          |
# | ------------------------------------------------- | ------------------------------------ |
# | [adsb.lol](https://adsb.lol/)                     | https://my.adsb.lol/                 |
# | [adsb.fi](https://globe.adsb.fi/)                 | https://adsb.fi/                     |
# | [theairtraffic](https://globe.theairtraffic.com/) | https://theairtraffic.com/feed/myip/ |
