---
services:
  cloudflared:
    image: cloudflare/cloudflared:2026.1.1
    command: tunnel --no-autoupdate run --token ${token}
    networks:
      - intranet

networks:
  intranet:
    external: true
