---
services:
  ollama:
    volumes:
      - /data/config_storage/ai/ollama:/root/.ollama
    ports:
      - 11434:11434
    container_name: ollama
    restart: unless-stopped
    image: ollama/ollama:0.13.5
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ollama.entrypoints=http"
      - "traefik.http.routers.ollama.rule=Host(`ollama.${DOMAIN}`)"
      - "traefik.http.middlewares.ollama-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.ollama.middlewares=ollama-https-redirect"
      - "traefik.http.routers.ollama-secure.entrypoints=https"
      - "traefik.http.routers.ollama-secure.rule=Host(`ollama.${DOMAIN}`)"
      - "traefik.http.routers.ollama-secure.tls=true"
      - "traefik.http.routers.ollama-secure.service=ollama"
      - "traefik.http.services.ollama.loadbalancer.server.port=11434"  # port of the service
      - "traefik.docker.network=intranet"
  open-webui:
    volumes:
      - /data/config_storage/ai/open-webui:/app/backend/data
    container_name: open-webui
    image: ghcr.io/open-webui/open-webui:0.6.43
    restart: unless-stopped
#    environment:
#      - OLLAMA_BASE_URL=https://ollama.${DOMAIN}
    ports:
      - 3004:8080
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ai.entrypoints=http"
      - "traefik.http.routers.ai.rule=Host(`ai.${DOMAIN}`)"
      - "traefik.http.middlewares.ai-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.ai.middlewares=ai-https-redirect"
      - "traefik.http.routers.ai-secure.entrypoints=https"
      - "traefik.http.routers.ai-secure.rule=Host(`ai.${DOMAIN}`)"
      - "traefik.http.routers.ai-secure.tls=true"
      - "traefik.http.routers.ai-secure.service=ai"
      - "traefik.http.services.ai.loadbalancer.server.port=3004"  # port of the service
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.weight=2"
      - "homepage.name=AI"
      - "homepage.icon=/images/open-webui-light.png"
      - "homepage.href=https://ai.${DOMAIN}"

networks:
  intranet:
    external: true
