---
services:
  postgres:
    image: postgres:16-alpine
    container_name: linkwarden_postgres
    restart: unless-stopped
    volumes:
      - /data/config_storage/linkwarden/pgdata:/var/lib/postgresql/data
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
  linkwarden:
    environment:
      - DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres
    restart: unless-stopped
    image: ghcr.io/linkwarden/linkwarden:v2.13.2
    container_name: linkwarden
    volumes:
      - /data/config_storage/linkwarden/data:/data/data
    depends_on:
      - postgres
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.links.entrypoints=http"
      - "traefik.http.routers.links.rule=Host(`links.${DOMAIN}`)"
      - "traefik.http.middlewares.links-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.links.middlewares=links-https-redirect"
      - "traefik.http.routers.links-secure.entrypoints=https"
      - "traefik.http.routers.links-secure.rule=Host(`links.${DOMAIN}`)"
      - "traefik.http.routers.links-secure.tls=true"
      - "traefik.http.routers.links-secure.service=links"
      - "traefik.http.services.links.loadbalancer.server.port=3000"  # port of the service.
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=Linkwarden"
      - "homepage.icon=/images/linkwarden.png"
      - "homepage.href=https://links.${DOMAIN}/"

networks:
  intranet:
    external: true
