---
services:
  prosody:
    image: prosodyim/prosody:13.0
    volumes:
      - /data/config_storage/data/prosody/modules:/usr/lib/prosody-modules
      - /data/dont_backup/logs/prosody:/var/log/prosody
      - /data/config_storage/data/prosody/configuration:/etc/prosody
    environment:
      - PASSWORD=${PASSWORD}
      - DOMAIN=xmpp.${DOMAIN}
      - LOCAL=local
    ports:
      - 5269:5269  # s2s port
      - 5222:5222  # c2s port - main one
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.xmpp.entrypoints=http"
      - "traefik.http.routers.xmpp.rule=Host(`xmpp.${DOMAIN}`)"
      - "traefik.http.middlewares.xmpp-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.xmpp.middlewares=xmpp-https-redirect"
      - "traefik.http.routers.xmpp-secure.entrypoints=https"
      - "traefik.http.routers.xmpp-secure.rule=Host(`xmpp.${DOMAIN}`)"
      - "traefik.http.routers.xmpp-secure.tls=true"
      - "traefik.http.routers.xmpp-secure.service=xmpp"
      - "traefik.http.services.xmpp.loadbalancer.server.port=5222"  # port of the service.
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=xmpp"
      - "homepage.icon=/images/prosody.png"
      - "homepage.href=https://xmpp.${DOMAIN}/"

networks:
  intranet:
    external: true
