---
services:
  jenkins:
    container_name: jenkins
    volumes:
      - /data/config_storage/jenkins:/var/jenkins_home
    image: jenkins/jenkins:2.528.3-lts-jdk17
    user: 1000:1000
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jenkins.entrypoints=http"
      - "traefik.http.routers.jenkins.rule=Host(`jenkins.${DOMAIN}`)"
      - "traefik.http.middlewares.jenkins-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.jenkins.middlewares=jenkins-https-redirect"
      - "traefik.http.routers.jenkins-secure.entrypoints=https"
      - "traefik.http.routers.jenkins-secure.rule=Host(`jenkins.${DOMAIN}`)"
      - "traefik.http.routers.jenkins-secure.tls=true"
      - "traefik.http.routers.jenkins-secure.service=jenkins"
      - "traefik.http.services.jenkins.loadbalancer.server.port=8080"  # port of the service.
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=jenkins"
      - "homepage.icon=/images/jenkins.png"
      - "homepage.href=https://jenkins.${DOMAIN}/"

networks:
  intranet:
    external: true
