CF_DNS_API_TOKEN=cloudflare_token
CF_API_EMAIL=email@domain.tld
TRAEFIK_DASHBOARD_CREDENTIALS=password
# dashboard cred is a hashed password:
# apt install apache2-utils
# echo $(htpasswd -nB admin) | sed -e s/\\$/\\$\\$/g