---
services:
  jellyfin:
    container_name: jellyfin
    ports:
      - 8096:8096
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - /data/config_storage/jellyfin/config:/config
      - /data/config_storage/jellyfin/cache:/cache
      - /data/mnt/shows:/shows
      - /data/mnt/movies:/movies
      - /data/mnt/youtube:/youtube
      - /data/mnt/media:/allmedia
    restart: unless-stopped
    image: jellyfin/jellyfin:10.11.3
    user: 1000:1000
    environment:
      - TZ=Etc
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.entrypoints=http"
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.${DOMAIN}`)"
      - "traefik.http.middlewares.jellyfin-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.jellyfin.middlewares=jellyfin-https-redirect"
      - "traefik.http.routers.jellyfin-secure.entrypoints=https"
      - "traefik.http.routers.jellyfin-secure.rule=Host(`jellyfin.${DOMAIN}`)"
      - "traefik.http.routers.jellyfin-secure.tls=true"
      - "traefik.http.routers.jellyfin-secure.service=jellyfin"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"  # port of the service
      - "traefik.docker.network=intranet"
      - "homepage.group=Media"
      - "homepage.name=Jellyfin"
      - "homepage.icon=/images/jellyfin.png"
      - "homepage.href=https://jellyfin.${DOMAIN}/"

networks:
  intranet:
    external: true
