---
services:
  skywatch:
    stdin_open: true
    tty: true
    volumes:
      - /data/config_storage/recents.txt:/app/recents.txt
    container_name: skywatch
    image: git.holmlab.org/shady/skywatch:1.4.1
