---
services:
  ollama:
    volumes:
      - /data/config_storage/ai/ollama:/root/.ollama
    ports:
      - 11434:11434
    container_name: ollama
    restart: unless-stopped
    image: ollama/ollama:0.16.0
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ollama.entrypoints=http"
      - "traefik.http.routers.ollama.rule=Host(`ollama.${DOMAIN}`)"
      - "traefik.http.middlewares.ollama-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.ollama.middlewares=ollama-https-redirect"
      - "traefik.http.routers.ollama-secure.entrypoints=https"
      - "traefik.http.routers.ollama-secure.rule=Host(`ollama.${DOMAIN}`)"
      - "traefik.http.routers.ollama-secure.tls=true"
      - "traefik.http.routers.ollama-secure.service=ollama"
      - "traefik.http.services.ollama.loadbalancer.server.port=11434"  # port of the service
      - "traefik.docker.network=intranet"

networks:
  intranet:
    external: true
