---
services:
  beszel:
    image: henrygd/beszel:0.18.4
    container_name: beszel
    restart: unless-stopped
#    environment:
#      LOG_LEVEL: debug
#    ports:
#      - 8090:8090
    volumes:
      - /data/config_storage/beszel/beszel_data:/beszel_data
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.beszel.entrypoints=http"
      - "traefik.http.routers.beszel.rule=Host(`beszel.${DOMAIN}`)"
      - "traefik.http.middlewares.beszel-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.beszel.middlewares=beszel-https-redirect"
      - "traefik.http.routers.beszel-secure.entrypoints=https"
      - "traefik.http.routers.beszel-secure.rule=Host(`beszel.${DOMAIN}`)"
      - "traefik.http.routers.beszel-secure.tls=true"
      - "traefik.http.routers.beszel-secure.service=beszel"
      - "traefik.http.services.beszel.loadbalancer.server.port=8090"  # port of the service.
      - "traefik.docker.network=intranet"
      - "homepage.group=Infrastructure"
      - "homepage.name=beszel"
      - "homepage.icon=/images/beszel.png"
      - "homepage.href=https://beszel.${DOMAIN}/"

networks:
  intranet:
    external: true
