---
services:
  kiwix-serve:
    volumes:
      - /data/mnt/kiwix/zim:/data:ro
    container_name: kiwix
    restart: unless-stopped
    image: ghcr.io/kiwix/kiwix-serve:3.8.1
    command: archlinux_en_all_maxi_2022-12.zim
              *.zim
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.kiwix.entrypoints=http"
      - "traefik.http.routers.kiwix.rule=Host(`kiwix.${DOMAIN}`)"
      - "traefik.http.middlewares.kiwix-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.kiwix.middlewares=kiwix-https-redirect"
      - "traefik.http.routers.kiwix-secure.entrypoints=https"
      - "traefik.http.routers.kiwix-secure.rule=Host(`kiwix.${DOMAIN}`)"
      - "traefik.http.routers.kiwix-secure.tls=true"
      - "traefik.http.routers.kiwix-secure.service=kiwix"
      - "traefik.http.services.kiwix.loadbalancer.server.port=8080"  # port of the service
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=Kiwix"
      - "homepage.icon=/images/kiwix-light.png"
      - "homepage.href=https://kiwix.${DOMAIN}/"

networks:
  intranet:
    external: true
