---
services:
  uptime-kuma:
    restart: unless-stopped
    volumes:
      - /data/config_storage/uptime-kuma:/app/data
    container_name: uptime-kuma
    image: louislam/uptime-kuma:2.1.3
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.uptime-kuma.entrypoints=http"
      - "traefik.http.routers.uptime-kuma.rule=Host(`uptime-kuma.${DOMAIN}`)"
      - "traefik.http.middlewares.uptime-kuma-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.uptime-kuma.middlewares=uptime-kuma-https-redirect"
      - "traefik.http.routers.uptime-kuma-secure.entrypoints=https"
      - "traefik.http.routers.uptime-kuma-secure.rule=Host(`uptime-kuma.${DOMAIN}`)"
      - "traefik.http.routers.uptime-kuma-secure.tls=true"
      - "traefik.http.routers.uptime-kuma-secure.service=uptime-kuma"
      - "traefik.http.services.uptime-kuma.loadbalancer.server.port=3001"  # port of the service
      - "traefik.docker.network=intranet"
      - "homepage.group=Infrastructure"
      - "homepage.name=Uptime-Kuma"
      - "homepage.icon=/images/uptimekuma.png"
      - "homepage.href=https://uptime-kuma.${DOMAIN}/"

networks:
  intranet:
    external: true
