---
services:
  syncthing:
    image: quay.io/linuxserver.io/syncthing:2.0.12
    container_name: syncthing
    hostname: syncthing
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /data/config_storage/syncthing/config:/config
      - /data/config_storage/syncthing/syncthing:/var/syncthing
      - /data/mnt:/mnt
      - /data/config_storage/seedvault:/seedvault
      - /data/music:/music
    ports:
      - 8384:8384  # web ui
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.syncthing-holmie.entrypoints=http"
      - "traefik.http.routers.syncthing-holmie.rule=Host(`syncthing-holmie.${DOMAIN}`)"
      - "traefik.http.middlewares.syncthing-holmie-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.syncthing-holmie.middlewares=syncthing-holmie-https-redirect"
      - "traefik.http.routers.syncthing-holmie-secure.entrypoints=https"
      - "traefik.http.routers.syncthing-holmie-secure.rule=Host(`syncthing-holmie.${DOMAIN}`)"
      - "traefik.http.routers.syncthing-holmie-secure.tls=true"
      - "traefik.http.routers.syncthing-holmie-secure.service=syncthing-holmie"
      - "traefik.http.services.syncthing-holmie.loadbalancer.server.port=8384"  # port of the service
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=syncthing"
      - "homepage.icon=/images/syncthing.png"
      - "homepage.href=https://syncthing-holmie.${DOMAIN}/"

networks:
  intranet:
    external: true
