---
services:
  searxng:
    container_name: searxng
    image: docker.io/searxng/searxng:2025.12.1-ab8224c93
    restart: unless-stopped
    volumes:
      - /data/config_storage/searxng:/etc/searxng:rw
    environment:
      - SEARXNG_BASE_URL=https://search.${DOMAIN}/
      - UWSGI_WORKERS=4
      - UWSGI_THREADS=4
      - GRANIAN_HOST=0.0.0.0
      - GRANIAN_PORT=27540
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
    security_opt:
      - no-new-privileges:true  # helps to increase security
    network_mode: container:gluetun
    labels:
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=search"
      - "homepage.icon=/images/searxng.png"
      - "homepage.href=https://search.${DOMAIN}/"
