---
services:
  hoodik:
    container_name: hoodik
    environment:
      - DATA_DIR=/data
      - APP_URL=https://hoodik.${DOMAIN}/
      - APP_CLIENT_URL=https://hoodik.${DOMAIN}/
      - SSL_DISABLED=true
    volumes:
      - /data/config_storage/hoodik/data:/data
    image: hudik/hoodik:v1.8.1
    security_opt:
      - no-new-privileges:true  # helps to increase security
    networks:
      - intranet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hoodik.entrypoints=http"
      - "traefik.http.routers.hoodik.rule=Host(`hoodik.${DOMAIN}`)"
      - "traefik.http.middlewares.hoodik-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.hoodik.middlewares=hoodik-https-redirect"
      - "traefik.http.routers.hoodik-secure.entrypoints=https"
      - "traefik.http.routers.hoodik-secure.rule=Host(`hoodik.${DOMAIN}`)"
      - "traefik.http.routers.hoodik-secure.tls=true"
      - "traefik.http.routers.hoodik-secure.service=hoodik"
      - "traefik.http.services.hoodik.loadbalancer.server.port=5443"  # port of the service
      - "traefik.docker.network=intranet"
      - "homepage.group=Other"
      - "homepage.name=hoodik"
      - "homepage.icon=/images/hoodik.png"
      - "homepage.href=https://hoodik.${DOMAIN}/"

networks:
  intranet:
    external: true
